/** Globales **/
html {
    box-sizing: border-box;
    font-size: 62.5%;  
}

body{
    display:grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;    
}

a {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

button {
    background-color: rgba(255, 255, 255, 0.4);
    background: rgba(21, 255, 0, 0.4);
    box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.59);
}

button:hover {
    background: rgb(17, 192, 1);
    box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.836);
}

/** barra de navegación **/
.shadow {
    position: fixed;
    box-shadow:  0px 2px 20px 0px rgba(0, 0, 0, 0.63);
}

.nav__logo img {
    width: 30px;
    height: 30px;
    transform: translate(-1300%, 0%);
}

.nav__logo img:hover {
    width: 50px;
    height: 50px;
    transform: translate(-752%, 0%);
}

.carrito a {
    padding-right: 20px;
    color: #000000;
    text-decoration: none;
}

.despacho a {
    padding-right: 20px;
    color: #000000;
    text-decoration: none;
}

.despacho a:hover, .test {
    color: #000000;
    text-decoration: none;
}

/** Suscripción **/

.suscribirse {
    width: 1100px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

.suscribirse img {
    width: 100%;
    height: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.suscribirse__mensaje {
    background-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px 30px 70px 30px;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.suscribirse__boton {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 75%;
    left: 70%;
    transform: translate(-80%, -80%);
}

.suscribirse__boton a {
    color: black;
    text-decoration: none;
}

/** Categorias **/
.titulo, .contenedor__espacio {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contenedor__categorias {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(223, 222, 222, 0.678);
}

.contenedor__categorias img {
    width: 211px;
    height: 204px;
}

.contenedor__categorias h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenedor__categorias a {
    color: black;
    text-decoration: none;
}

.item:hover {
    background-color: #a3a3a3;
    box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.59);
}

.espacio {
    padding: 40px 40px 40px 40px;
}

.item {
    border: 1px solid #2e2e2e;
}

/** catalogo **/
.catalogo {
    display: grid;
    grid-template: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 30px;
}

.catalogo h3, .catalogo h2, .catalogo button, .fondo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.catalogo img {
    margin-top: 18px;
    margin-left: 18px;
    margin-bottom: 10px;
    background-color: white;
    max-width: 90%;
    max-height: 90%;
}

.catalogo button {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.catalogo h3, .catalogo h2, .catalogo a {
    color: black;
    text-align: center;
    text-decoration: none;
}

.producto-1:hover, .producto-2:hover, .producto-3:hover, .producto-4:hover, .producto-5:hover, .producto-6:hover {
    background-color: #c7c7c7;
    box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.59);
}

.producto-1 {
    background-color: #DBD6D6;
    grid-column: 1/2;
    grid-row: 1;
}

.producto-2 {
    background-color: #DBD6D6;
    grid-column: 2/3;
    grid-row: 1;
}

.producto-3 {
    background-color: #DBD6D6;
    grid-column: 3/4;
    grid-row: 1;
}

.producto-4 {
    background-color: #DBD6D6;
    grid-column: 1/2;
    grid-row: 2;
}

.producto-5 {
    background-color: #DBD6D6;
    grid-column: 2/3;
    grid-row: 2;
}

.producto-6 {
    background-color: #DBD6D6;
    grid-column: 3/4;
    grid-row: 2;
}

/** Carrito **/
.cantidad__espacio {
    display: flex;
    justify-content: center;
    transform: translate(0%, 700%);
}

.cantidad__boton {
    display: flex;
    justify-content: center;
    transform: translate(0%, 1300%);
}

/** alert **/

#campo, #campo2, #campo3 {
    background-color: rgba(250, 0, 0, 0.582);
    font-size: 1.4rem;
    text-align: center;
    border-radius: 2rem;
    padding: 5px 0px;
}



/** login/registro **/

.login__register{
    background: #C3E0C2;
    color: Black;
    position:absolute;
    top: 50%;
    left: 50%;
    padding: 50px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

.form__cuadros{
    overflow: hidden;
}

.centrar {
    text-align: center;
}

/**Fondo del login**/
.login__fondo {
    width: 1100px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

.login__fondo img {
    width: 100%;
    height: 100%;
}

/** footer **/
.footer {
    text-align: center;
}

.contacto {
    border-radius: 20px;
    margin-left: 19%;
    margin-right: 19%;
    background-color: #BABDB9;
}

.footer__alineacion {
    text-align: left;
}

.footer__documento {
    margin-bottom: 5px;
}

.footer__input:hover {
    background-color: rgb(167, 255, 166);
}

.footer__botones {
    display: flex;
    justify-content: space-between;
}